# Node
node_modules/
**/node_modules/

# Builds
/dist
**/dist

# Env
.env
.env.*
apps/api/.env
apps/api/.env.*
apps/doc-service/.env
apps/doc-service/.env.*

# Logs
npm-debug.log*
yarn-error.log*

# Misc
.DS_Store
**/uploads/
